<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Manager{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.8.21.custom.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('css/shadowbox.css') }}" type="text/css" media="screen" />
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div id="user_info">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Hi <b>{{ app.user.username | capitalize }}</b> :)
                    {% else %}
                    Sign up to make full use of the Manager
                    {% endif %}
                </div>
                <ul>
                    <li>
                        <a href="{{ path('homepage') }}" id="logo">Manager</a>
                        <span id="slogan">to save your time and money...</span>
                    </li>
                    <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('fos_user_security_logout') }}">
                                Log out
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">
                                Log in
                            </a>
                        {% endif %}
                    </li>
                    <li><a href="{{ path('fos_user_profile_edit') }}">Settings</a></li>
                    <li><a href="#">Wallet</a></li>
                    <li class="active"><a href="#">Calendar</a></li>
                    <li><a href="#">Notes</a></li>
                </ul>
            </nav>
        </header>

        <div id="content">
            {% block content %}
                {% block fos_user_content %}{% endblock %}
            {% endblock %}
        </div>
        <footer>
                Projekt Kapitol &copy; 2012
        </footer>
        {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-ui-1.8.21.custom.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('js/shadowbox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('js/manager.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
